*{
    margin: 0;
    padding: auto;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container{
    padding-top: 30px;
    padding-right: 10px;
    padding-bottom: 50px;
    padding-left: 20px;
    align-items: center;
    background: linear-gradient(to right,rgb(116, 109, 109),red);
    justify-content: center;
    border-top: solid black;
border-left: solid black;
border-right: solid black;
border-bottom: solid black;
display: grid;
grid-template-columns:1fr 1fr;

}
.Clientes{
padding-left: 10px;
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
border-top: solid black;
border-left: solid black;
border-right: solid black;
border-bottom: solid black;
}
.formulario {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}
.Servicios{
    padding-top: 20px;
    border-top: solid black;
    border-left: solid black;
    border-right: solid black;
    border-bottom: solid black;
    }
.Direcion_servicio{
    border-top: solid black;
    border-left: solid black;
    border-right: solid black;
    border-bottom: solid black;
    
}
.Guardar{
    display: flex;
    align-content: center;
    justify-content: center;
    border-top: solid black;
    border-left: solid black;
    border-right: solid black;
    border-bottom: solid black;
    
}

.title{
    border-top: solid black;
border-left: solid black;
border-right: solid black;
border-bottom: solid black;
}
.Guardar{
    border-top: solid black;
    border-left: solid black;
    border-right: solid black;
    border-bottom: solid black;
    background: red;
}
